<div class="container">
  <div class="row">
    <div class="col-4 offset-4">

      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" }, placeholder: 'email@gmail.com'%>
        <%= f.input :password,
        required: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" }, placeholder: '******' %>
        <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" }, placeholder: '******' %>
        <%= f.input :first_name, required: true, placeholder: 'Merry' %>
        <%= f.input :last_name, required: true, placeholder: 'Smith' %>
        <%= f.input :username, required: true, placeholder: 'Merry S.' %>
        <%= f.input :city, required: true, placeholder: 'Tel Aviv' %>
        <%= f.input :profile_image, required: true %>
        <%= f.input :height, required: false, placeholder: '1.70' %>
        <%= f.input :age, required: false %>
        <%= f.input :strength, required: false,as: :select, collection: [
          "Sense of Humor",
          "Kindness",
          "Self-Confidence",
          "Self-Awareness",
          "Charismatic",
          "Good looking",
          "Educated"
          ]
        %>
        <%= f.input :language, required: false %>
        <%= f.input :hidden_talent, required: false, placeholder: 'ex: Moonwalk' %>
        <label for="Talk">Talkativeness</label>
        <p class="pt-1"><input type="range" min="0" max="5" name="user[talkativeness]" ></p>
        <label for="Talk">Funniness</label>
        <p class="pt-1"><input type="range" min="0" max="5" name="user[funniness]" ></p>
        <%= f.input :description, required: false, :label => "Tag line", placeholder: 'ex: I am a very good dancer'  %>

      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
      <br>


    </div>
  </div>
</div>

