<div class="container">
  <div class="row">
    <div class="col-4 offset-4">

<%= simple_form_for(@user, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <h2>Modify my profile</h2>

   <div class="form-inputs">
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" }, placeholder: 'email@gmail.com'%>
        <%= f.input :first_name, required: true  %>
        <%= f.input :last_name, required: true %>
        <%= f.input :username, required: true %>
        <%= f.input :city, required: true %>
        <%= f.input :profile_image, required: true %>
        <%= f.input :height, required: false%>
        <%= f.input :age, required: false %>
        <%= f.input :strength, required: false,as: :select, collection: [
          "Sense of Humor",
          "Kindness",
          "Self-Confidence",
          "Self-Awareness",
          "Charismatic",
          "Good looking",
          "Educated"
          ]
        %>
        <%= f.input :language, required: false %>
        <%= f.input :hidden_talent, required: false %>
        <label for="Talk">Talkativeness</label>
        <p class="pt-1"><input type="range" min="0" max="5" name="user[talkativeness]" ></p>
        <label for="Talk">Funniness</label>
        <p class="pt-1"><input type="range" min="0" max="5" name="user[funniness]" ></p>
        <%= f.input :description, required: false, :label => "Tag line"  %>
        <%= f.submit "Back to my profile", class: "btn custom" %>
      </div>

  <div class="form-actions">

  </div>

<% end %>
<br>






      </div>
    </div>
  </div>
