<div class="bannerevent" style='background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    ), url("https://images.unsplash.com/photo-1486428263684-28ec9e4f2584?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80")'>

<div class="container margin-top-negative-new">
  <div class = "row ">
     <div class="col-sm-12 col-md-6 col-lg-6">
      <div class ="search-show-card">
        <%= simple_form_for @event do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :date %>
          <%= f.association :event_category, as: :select, collection: @event_categories
          %>
          <%= f.input :event_description %>
          <%= f.input :amenities, as: :select, collection: ["Flight included", "Hotel included", "Meals included"] %>
          <%= f.input :wishlist, :label => "What you are looking for" %>
          <%= f.input :event_image %>
          <%= f.input :cost %>

          <%= f.submit class: "btn custom" %>
          <% end %>
      </div>
    </div>

 </div>
</div>



