
<div class="bannerevent" style="background-image: url('<%= cl_image_path @event.event_image.url %>')"> </div>
<div class="container">



  <div class="row">

    <!-- show the event_image -->
    <!-- show the tags for event_category (model not created yet) on the image -->
    <!-- show event details below-->
      <!--
       t.string "name"
       t.string "location"
       t.date "date"
       t.string "amenities"
       t.string "event_description"
       t.string "wishlist"
       t.string "cost"
      -->
    <!-- show booking new-->
      <!-- form motivation field -->
      <!-- form button submit -->
        <!--
           t.bigint "user_id"
           t.bigint "event_id"
           t.boolean "approved"ƒ
           t.string "motivation"
        -->
    <div class="col-12 col-lg-6">
      <div id="containerIntro">
        <h2 class="text-dark"><%= @event.name %></h2>
        <p class="text-dark">at <%= @event.address %> on <%= @event.date %></p>
      </div>
        <div class="mt-3">
        <h3>About the event</h3>
        <p><%= @event.event_description %></p>
        <h4>What's included:</h4>
        <p><%= @event.amenities %></p>
        <h4>Looking for:</h4>
        <p><%= @event.wishlist %></p>
        <h4>Cost:</h4>
        <p><%= @event.cost %> $</p>
      </div>
      <% if @event.bookings.where(user_id: current_user.id).empty? %>
        <%= simple_form_for [@event, @booking] do |f| %>
          <%= f.input :motivation %>
          <%= f.submit "Book this event", class: "btn custom" %>
        <% end %>
      <% else %>
        <p id="booked-box">This event is pending approval.</p>
      <% end %>
    </div>



    <!-- show on right side user_id -->
    <!-- show avatar profile_image -->
      <!--
         t.string "first_name"
         t.string "last_name"
         t.string "city"
         t.string "description"
         t.string "height"
         t.string "strength"
         t.string "language"
         t.string "hidden_talent"
         t.integer "talkativeness"
         t.integer "funniness"
         t.string "username"
         t.integer "age"
         t.string "gender"
       -->
    <div class="col-12 col-lg-6 border">
      <div class="d-flex justify-content-start">
        <%= image_tag @user.profile_image, {class: "rounded-circle mt-3", width: 70, height: 70} %>
        <div>
          <h4 class="ml-3 mt-4 text-dark"><%= @user.username.capitalize %></h4>
          <div id="containerBio">
            <i class="fas fa-map-pin ml-3 text-dark"></i>
            <p class="text-dark ml-1"><%= @user.city %></p>
          </div>
        </div>
      </div>
      <hr>
      <p class="font-weight-bold">About me</p>
      <p><%= @user.description %></p>
      <p>Height:
        <span class="font-weight-lighter"> <%= @user.height %>m</span>
      </p>
      <p>Attributes:
        <span class="font-weight-lighter"> <%= @user.strength %> </span>
      </p>
      <p>Languages:
        <span class="font-weight-lighter"><%= @user.language %> </span>
      </p>
      <p>Hidden Talent:
        <span class="font-weight-lighter"><%= @user.hidden_talent %></span>
      </p>
      <p>Talkativeness:
        <span class="font-weight-lighter"><%= @user.talkativeness %></span>
      </p>
      <p>Funniness:
        <span class="font-weight-lighter"><%= @user.funniness%> </span>
      </p>
      <p>Age:
        <span class="font-weight-lighter"><%= @user.age %></span>
      </p>
    </div>

  </div>
</div>








