<div class="banner-home">
  <div class="banner-text-home">Find new company for your adventures</div>

</div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-12 col-mb-6 col-lg-6">
      <div class="search-show-card">
        <h1>What are you looking for?</h1>

        <%= form_tag events_path, method: :get do %>
        <div class="form-group">
          <%= text_field_tag :city,
          params[:city],
          class: "form-control",
            id: "location-input",
            required: true,
            placeholder: "Where?"

            %>
          </div>
          <div class="form-group">
            <%= date_field_tag :date_range,
            params[:date_range],
            class: "form-control",
            class: "datepicker",
              required: true,
              placeholder: "Date range?"
              %>
            </div>


              <div class="form-group">
                <label class="control-label check_boxes optional">What are you up for?</label>
                <input type="hidden" name="post[category_ids][]" value="">
                <div class="category-choices">
                  <% EventCategory.all.each do |category| %>
                  <input type="checkbox" class="d-none" autocomplete="off" value="<%= category.id %>" name="post[category_ids][]" id="post_category_ids_<%= category.id %>">
                  <label class="category-choice" for="post_category_ids_<%= category.id %>">
                    <%= category.name %>
                  </label>
                  <% end %>
                </div>
              </div>

              <%= submit_tag "Submit", class: "btn custom" %>
              <% end %>

            </div>
          </div>
        </div>


      <div class="container mt-5">
      <h3>Trending events close to you..</h3>
      </div>
        <%= render 'events-trending'%>


      </div>
<%= content_for(:after_js) do %>
  <%= javascript_pack_tag "resetcheckboxes" %>
<% end %>


  <!--         <div class="col-6 col-mb-4 col-lg-4 mb-4">
              <div class="flat-card">
                <div class="flat-card-image" style="background-image: url('https://images.unsplash.com/photo-1525373612132-b3e820b87cea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')"></div>
                <div class="flat-card-content"> -->
                  <!-- if statement & checkbox image -->
                  <!-- <div class="flat-card-title">
                    <h4>Event Name</h4>
                  </div>
                  <div class="flat-card-actions">
                    <p>Link to Event Show Page</p>
                    <i class="fa fa-pencil"></i>
                    <i class="fa fa-trash-o"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-mb-4 col-lg-4 mb-4">
              <div class="flat-card">
                <div class="flat-card-image" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tanbackground-1553877785.jpg?resize=480:*')"></div>
                <div class="flat-card-content"> -->
                  <!-- if statement & checkbox image -->
                 <!--  <div class="flat-card-title">
                    <h4>Event Name</h4>
                  </div>
                  <div class="flat-card-actions">
                    <p>Link to Event Show Page</p>
                    <i class="fa fa-pencil"></i>
                    <i class="fa fa-trash-o"></i>
                  </div>
                </div>
              </div>
            </div> -->




