  <h1 class="h1-profile">Find good company</h1>
  <div class="row">
    <% @requests_approved.each do |request| %>
      <div class="col-12 col-mb-6 col-lg-6 mb-4">
        <div class="card-event-request">
          <div class="d-flex">
             <%= cl_image_tag request.user.profile_image, class: "avatar-large mr-2" %>
            <div class="card-event-ahead-content">
              <p><span class="p-question">Who? </span><%= request.user.first_name %> <%= request.user.last_name %></p>
              <p><span class="p-question">Event? </span><%= request.event.name %></p>
              <p><span class="p-question">When? </span><%= request.event.date %></p>
              <p><span class="p-question">Contact Details? </span><%= request.user.email %></p>
            </div>
          </div>
          <div class="card-event-request-actions">
            <%= link_to profile_path(request.user) do %>
              <i class="fas fa-user-alt"></i>
            <% end %>
            <%= link_to profile_path(request.user) do %>
              <i class="fas fa-star mine"></i>
            <% end %>
            <%= link_to profile_path(request.user) do%>
              <i class="fa fa-pencil"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>


  </div>
    <% @my_bookings_approved.each do |request| %>
          <h1 class="h1-profile">Be good company</h1>
   <div class="row">
      <div class="col-12 col-mb-6 col-lg-6 mb-4">
        <div class="card-event-company">
          <div class="d-flex">
             <%= cl_image_tag request.user.profile_image, class: "avatar-large mr-2" %>
            <div class="card-event-company-content">
              <p><span class="p-question">Who? </span><%= request.event.user.first_name %> <%= request.event.user.last_name %></p>
              <p><span class="p-question">Event? </span><%= request.event.name %></p>
              <p><span class="p-question">When? </span><%= request.event.date %></p>
              <p><span class="p-question">Contact Details? </span><%= request.event.user.email %></p>
            </div>
          </div>
          <div class="card-event-company-actions">
            <%= link_to profile_path(request.user) do %>
              <i class="fas fa-user-alt"></i>
            <% end %>
            <%= link_to profile_path(request.user) do %>
              <i class="fas fa-star mine"></i>
            <% end %>
             <%= link_to event_booking_path(request.event, request),
                method: :delete,
                data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
          </div>
        </div>
      </div>
        </div>
</div>
    <% end %>
