<h1>All your events</h1>
<div class="row">
  <% @events.each do |event| %>
    <div class="col-6 col-mb-4 col-lg-4 mb-4">
      <div class="flat-card">
        <% if event.event_image.present? %>
          <div class="flat-card-image" style="background-image: url(<%= event.event_image %>)"></div>
        <% else %>
          <div class="flat-card-image" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tanbackground-1553877785.jpg?resize=480:*')"></div>
        <% end %>
         <div class="flat-card-content">
      <!-- if statement & checkbox image -->
          <div class="flat-card-title">
            <h4><%= event.name %></h4>
            <p class="crop-description"><%= event.event_description %></p>
          </div>
          <div class="flat-card-actions">
            <p>Check this one out</p>
            <i class="fa fa-pencil"></i>
            <i class="fa fa-trash-o"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h1>All requests to your events</h1>
<div class="row">
<% @requests.each do |request| %>
  <div class="col-12 col-mb-6 col-lg-6 mb-4">
    <div class="event-request">
      <%= image_tag "default-avatar-pic", class: "avatar-large" %>
      <div class="event-request-content">
        <p><small><%= request.user.email %></small></p>
        <p><%= request.motivation %></p>
      </div>

      <div class="event-request-actions">
        <%= button_to 'approved', handle_booking_path(request, params: {approved: true}) %>
        <%= button_to 'decline', handle_booking_path(request, params: {approved: false}) %>
      </div>
    </div>
  </div>
<% end %>
</div>

<h1>Your Bookings</h1>
<div class="row">
  <% @my_bookings.each do |booking| %>
    <div class="col-6 col-mb-4 col-lg-4 mb-4">
      <div class="flat-card">
        <% if booking.event.event_image.present? %>
          <div class="flat-card-image" style="background-image: url(<%= booking.event.event_image %>)"></div>
        <% else %>
          <div class="flat-card-image" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tanbackground-1553877785.jpg?resize=480:*')"></div>
        <% end %>
         <div class="flat-card-content">
      <!-- if statement & checkbox image -->
          <div class="flat-card-title">
            <h4><%= booking.event.name %></h4>
            <p class="crop-description"><%= booking.event.event_description %></p>
          </div>
          <div class="flat-card-actions">
            <p>Check this one out</p>
            <i class="fa fa-pencil"></i>
            <i class="fa fa-trash-o"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
